---
layout: default
current: page
class: page-template
disqus: false
---

<article class="page">
  {% for post in site.posts %}
	<div class="minipost">
		<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
		<h1>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h1>
		<p>
		{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
		</p>
    <div class="categories">
        {% assign sortedCategories = post.categories | sort %}
        {% for category in sortedCategories %}
            <span class="tag">
                <a href="/category/{{ category }}">#{{ category }}</a>
            </span>
        {% endfor %}
    </div>
  </div>
  {% endfor %}
</ul>
